:root {
  interpolate-size: allow-keywords;
}

section#forms {
  min-width: 360px;
  margin-top: 40px;
}

.accordion {
  border: 1px solid #bbb;
  border-radius: 8px;

  button {
    margin: 8px;
  }

  summary {
    border-radius: 8px 8px 0 0;
    color: black;
    background-color: #eee;
    padding: 16px;
    cursor: pointer;
    font-weight: 600;
  }
  summary:hover {
    background-color: #c7c7c7;
  }

  form {
    padding: 8px;
    display: grid;
    justify-items: center;
    text-align: left;
    gap: 10px;
    background: #eeeeee;

    fieldset {
      display: grid;
      justify-items: center;
      gap: 8px;
      border-radius: 8px;
      border: #bbb solid 1px;
      margin: 0;
    }
  }

  summary,
  label {
    -webkit-user-select: none; /* Safari */
    -ms-user-select: none; /* Edge */
    user-select: none;
  }
}

.small {
  max-width: 110px;
}

.medium {
  min-width: 180px;
}

.large {
  min-width: 240px;
}

textarea {
  min-width: 270px;
  min-height: 100px;
}
